.ete-input-group {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.ete-input-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  .ete-input-icon-wrapper {
    position: absolute;
    height: 100%;
    width: 35px;
    justify-content: center;
    color: $input-color;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    svg {
      color: $input-placeholder-color;
    }
  }
}
.ete-input-inner {
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  transition: $input-transition;
  &:focus,
  &:hover {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    box-shadow: $input-focus-box-shadow;
    // Avoid using mixin so we can pass custom focus shadow properly
  }
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
    pointer-events: none;
  }
}
.ete-input-prepend,
.ete-input-append {
  display: flex;
  align-items: center;
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0;
  font-size: $input-font-size;
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  color: $input-group-addon-color;
  text-align: center;
  white-space: nowrap;
  background-color: $input-group-addon-bg;
  border: $input-border-width solid $input-group-addon-border-color;
  border-radius: $input-border-radius;
}
.ete-input-prepend-group > .ete-input-prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ete-input-prepend-group > .ete-input-wrapper > .ete-input-inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ete-input-append-group > .ete-input-append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ete-input-append-group > .ete-input-wrapper > .ete-input-inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ete-input-inner-large,
.ete-input-prependAndappend-large {
  padding: $input-padding-y-lg $input-padding-x-lg;
  border-radius: $input-border-radius-lg;
  font-size: $input-font-size-lg;
}
.ete-input-inner-small,
.ete-input-prependAndappend-small {
  padding: $input-padding-y-sm $input-padding-x-sm;
  border-radius: $input-border-radius-sm;
  font-size: $input-font-size-sm;
}
.ete-input-inner-pr {
  padding-right: 35px;
}
